
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lilita One', cursive;
  font-size: 68%;
}

body {
  background: #eee;
  padding: 0 1.6rem;
  overflow-x: hidden;
  background-color: #878c00;
  background-color: #fff7f7;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  min-height: 100vh;
  width: 100vw;
}


footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #888484;
  letter-spacing: -0.03rem;
  font-size: 2rem;
}


.FixedNote{
  position: fixed;
  left: 2rem; 
  top: 52%;
  transform: translateY(-50%);
  
}
.FixedNote img{
  width: 30rem;
  height: auto;
}

 



.container {
  padding: 2rem;
  margin-top: 1rem;
  margin-left:28rem;
  margin-right: 5rem;
  block-size: auto;
  align-items: center;
}

.note {
  background: #fff;
  border-radius: .7rem;
  box-shadow: 0 .2rem .5rem #ccc;
  padding: 1rem;
  width: 24rem;
  margin: 1.6rem;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6rem;
}

.note p {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 1rem;
  color: #f5ba13;
  border: none;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  outline: none;
}

form.main-content {
  max-width: 70rem;
  width: 100%;
  min-height: 10rem;
  height: auto;
  position: relative;
  /* width: 48rem; */
  margin: 3rem 4rem 2rem 1rem;
  padding: 1.8rem 1.8rem 12rem 1.8rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: .7rem;
  box-shadow: 0 .1rem .5rem rgb(138, 137, 137);
  align-items: center;
}

form.main-content textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.5em;
  font-family: inherit;
  resize: none;
}

form.main-content button {
  position: absolute;
  right: 1.8rem;
  bottom: -1.8rem;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 750%;
  width: 5.5rem;
  height: 5.5rem;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

container,h2 {
  color:  rgb(43 45 56);
  text-align: justify;
  align-items: center;
  font-size: 3rem;
  letter-spacing: -0.02rem;
  margin-right: 8rem;
  margin-left: 3rem;
  font-family: "Merriweather", serif;
}

.btn {
  display: flex;
}

.btn button {
  position: absolute;
  background: rgb(17 166 131);
  color: rgb(255 255 255);
  border-radius: 0.6rem;
  padding: 1.6rem 3.2rem;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  margin-left: 5.8rem;
  display: flex;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}

.btn button:focus,
.btn button:hover {
  background: rgb(42, 201, 164);
  box-shadow: 0 0.5rem 3rem 0 rgba(0, 0, 0, 0.1);
}

.counter-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

/* Responsive adjustments */

@media only screen and (max-width: 1024px) {
  html {
    font-size: 58%;
  }
  .container {
    margin-left: 8rem; /* Adjusted for tablet */
  }
  .FixedNote{
    margin-top:10rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 38%;
  }
  .container {
    margin-left: 1rem; /* Adjusted for mobile */
  }
  .FixedNote{
    margin-top:20rem;
    margin-left: 20rem;

}
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 20%;
  }
  .container {
    margin-left: 1rem; /* Adjusted for mobile */
  }
  .FixedNote{
    margin-top:10rem;
  }
}
